_book/
.quarto/
site_libs/

index.aux
index.html
index.log
index.out
index.pdf
index.tex
index.toc
*.log
*.docx
/Design-and-Implementation-of-Mobile-Phone-Data-Initiatives.pdf
/Design-and-Implementation-of-Mobile-Phone-Data-Initiatives.epub
chapters/*.html
assets/*-1280x640.png

.Rproj.user/
.Rhistory
.DS_Store

/.quarto/
**/*.quarto_ipynb
